

@mixin gradient-gray($opacity:0.06){

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,020000+100&0+49,$opacity+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(1,0,0,0) 49%, rgba(2,0,0,$opacity) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(1,0,0,0) 49%,rgba(2,0,0,$opacity) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(1,0,0,0) 49%,rgba(2,0,0,$opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f020000',GradientType=0 ); /* IE6-9 */


}

@mixin gradient-gray-inverse($opacity:0.06){

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020000+0,000000+100&0.06+0,0+51 */
	background: -moz-linear-gradient(top,  rgba(2,0,0,$opacity) 0%, rgba(1,0,0,0) 51%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(2,0,0,$opacity) 0%,rgba(1,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(2,0,0,$opacity) 0%,rgba(1,0,0,0) 51%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f020000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}